{:name         "Harrison Pielke-Lombardo"
 :school       "University of Colorado, Anschutz Medical Campus"
 :school-link  "http://www.ucdenver.edu/academics/colleges/Graduate-School/academic-programs/computational-bioscience/Pages/home.aspx"
 :contact-info {"GitHub"   "https://github.com/tuh8888"
                "Email"    "Harrison.Pielke-Lombardo@cuanschutz.edu"
                "LinkedIn" "https://www.linkedin.com/in/tuh8888/"}}
